<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".HiltApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidRoadMap" >
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.AndroidRoadMap">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".features.home.HomeActivity"
            android:exported="true"
            android:label="HomeActivity"
            android:theme="@style/Theme.AndroidRoadMap">
        </activity>
        <activity
            android:name=".features.content_list.ContentListActivity"
            android:exported="true"
            android:label="ContentListActivity"
            android:theme="@style/Theme.AndroidRoadMap">
        </activity>
        <activity
            android:name=".features.markdown.MarkdownActivity"
            android:exported="true"
            android:label="MarkdownActivity"
            android:theme="@style/Theme.AndroidRoadMap">
        </activity>
        <activity
            android:name=".features.examples.ExamplesActivity"
            android:exported="false"
            android:label="ExamplesActivity"
            android:theme="@style/Theme.AndroidRoadMap">
        </activity>
        <activity
            android:name=".features.examples.weather_app.WeatherAppActivity"
            android:exported="false"
            android:label="WeatherAppActivity"
            android:theme="@style/Theme.AndroidRoadMap">
        </activity>
        <activity
            android:name=".features.examples.finance_simulator.FinanceSimulatorActivity"
            android:exported="false"
            android:label="FinanceSimulatorActivity"
            android:theme="@style/Theme.AndroidRoadMap">
        </activity>
        <activity
            android:name=".features.examples.finance_simulator.ticker.TickerActivity"
            android:exported="false"
            android:label="TickerActivity"
            android:theme="@style/Theme.AndroidRoadMap">
        </activity>
        <activity
            android:name=".features.roadmap_progress.RoadmapActivity"
            android:exported="false"
            android:label="RoadmapActivity"
            android:theme="@style/Theme.AndroidRoadMap">
        </activity>
    </application>

</manifest>